<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <li class="nav-link">
                    <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" asp-area="" asp-controller="Learners" asp-action="Index">Learners</a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" asp-area="" asp-controller="Majors" asp-action="Index">Majors</a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" asp-area="" asp-controller="Enrollments" asp-action="Index">Enrollments</a>
                </li>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as: MyAccount</div>
        </div>
    </nav>
</div>
